<div class="wrapper">
    <app-header />
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>{{title}}</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="">Home</a></li>
                            <li class="breadcrumb-item active">{{title}}</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="card">

                <div class="card-body">

                    <form action="" method="POST" [formGroup]="categoryAddForm" (submit)="addForm()">

                        <div class="card-body">
                            <div class="form-group row">
                                <div class="col-6 row">
                                    <label for="inputEmail3" class="col-sm-3 col-form-label">Category Name</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" formControlName="name" placeholder="Category Name">
                                        <div *ngIf="categoryAddForm['controls']['name'].dirty && categoryAddForm['controls']['name'].errors"
                                            style="color: red;">
                                            <span *ngIf="categoryAddForm['controls']['name'].errors['required']">Category
                                                name
                                                cannot be empty </span>
                                            <span *ngIf="categoryAddForm['controls']['name'].errors['minlength']">Category
                                                name
                                                is at least 6 characters <br></span>
                                            <span *ngIf="categoryAddForm['controls']['name'].errors['pattern']">Category
                                                name
                                                is alphabet</span>
                                        </div>
                                        <span *ngIf="isDuplicate" style="color: red;">Name already exists!</span> 
                                    </div>
                                    <label for="inputEmail3" class="col-sm-3 col-form-label">Status</label>
                                    <div class="col-sm-9" >
                                        <select name="" id="input" class="form-control" formControlName="status">
                                            <option value="">Select</option>
                                            <option value="1">Working</option>
                                            <option value="0">Not working</option>
                                        </select>
                                    </div>
                                    <label for="file" class="col-sm-3 col-form-label">File</label>
                                    <div class="col-sm-9">
                                        <input type="file" class="form-control" (change)="uploadFile($event)"
                                            enctype="multipart/form-data" formControlName="imageUpload">
                                       
                                    </div>
                                </div>
                                <div class="col-6 pl-5" *ngIf="preview != null">
                                    <img [src]="preview" class="w-20" width="200" height="200"/>
                                </div>
                                <div class="col-6 pl-5" *ngIf="preview == null">
                                    <img src="https://cusc.vn/admin/app/uploads/2023/04/No_Image_Available.jpg" class="w-20" width="200" height="200"/>
                                </div>
                            </div>
                            <div class="form-group row">
                               
                            </div>
                            <div class="form-group row">
                               
                                <!-- <input 
                                name="myfile"
                                id="file" 
                                type="file" 
                                class="form-control"
                                (change)="onFileChange($event)">
                            <div *ngIf="f['image'].touched && f['image'].invalid" class="alert alert-danger">
                                <div *ngIf="f['image'].errors && f['image'].errors['required']">File is required.</div>
                            </div> -->
                            </div>

                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer " style="display: flex;justify-content: center;">
                            <button type="submit" class="btn btn-info" [disabled]="categoryAddForm.invalid"><i
                                    class="fas fa-save"></i> Save</button>
                            <button type="reset" class="btn btn-danger ml-4"><i class="fas fa-redo"></i>
                                Refresh</button>
                        </div>
                        <!-- /.card-footer -->
                    </form>

                </div>
                <!-- /.card-body -->
                <div class="card-footer" style="display: flex;justify-content: center;">
                    <a href="/category" class="btn btn-warning"><i class="fas fa-arrow-left"></i>Back</a>

                </div>
                <!-- /.card-footer-->
            </div>
            <!-- /.card -->

        </section>
        <!-- /.content -->
    </div>
    <app-aside />
    <app-footer />
</div>