<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">


  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <!-- <div class="image">
        <img src="/assest/dist/img/user3-128x128.jpg" class="img-circle elevation-2" alt="User Image">
      </div> -->
      <div class="info" style="display: flex;">
        <a *ngIf="account" href="#" class="d-block mr-5" >
          Hi <b style="text-transform: uppercase;"> {{account.name}}</b>
        </a>
        <a  *ngIf="account" href="javascript:void(0)" (click)="onLogOut()">Log out</a>
      </div>
    </div>
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
       
        <li class="nav-item">
          <a href="#" class="nav-link">
             <i class="nav-icon fas fa-th"></i>
            <p>
              Category Management
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/category" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Category List</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/category-add" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Add New Category</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
             <i class="nav-icon fas fa-th"></i>
            <p>
              Product Management
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/product" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Product List</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/product-add" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Add New Product</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
             <i class="nav-icon fas fa-th"></i>
            <p>

              Order Management
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/order" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Order list</p>
              </a>
            </li>

          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
             <i class="nav-icon fas fa-th"></i>
            <p>

              Store Management
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/store" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Store list</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/store-add" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Add New Store</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
             <i class="nav-icon fas fa-th"></i>
            <p>

              User Management
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/user" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>User list</p>
              </a>
            </li>
           
          </ul>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>