<div class="wrapper">
    <app-header />
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>{{title}}</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="">Home</a></li>
                            <li class="breadcrumb-item active">{{title}}</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="card">

                <div class="card-body">

                    <form action="" method="POST" [formGroup]="productFormEdit" (submit)="onSubmit()">

                        <div class="card-body">
                            <div class="form-group row">
                                <div class="col-6 ">
                                    <div class="col-12 row">
                                        <label for="inputEmail3" class="col-sm-3 col-form-label">Product Name</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" [(ngModel)]="result.name" formControlName="name"
                                                placeholder="Product Name">
                                            <div *ngIf="productFormEdit['controls']['name'].dirty && productFormEdit['controls']['name'].errors"
                                                style="color: red;">
                                                <span *ngIf="productFormEdit['controls']['name'].errors['required']">Product
                                                    name
                                                    cannot be empty </span>
                                                <span *ngIf="productFormEdit['controls']['name'].errors['minlength']">Product
                                                    name
                                                    is at least 6 characters <br></span>
                                                <span *ngIf="productFormEdit['controls']['name'].errors['pattern']">Product name
                                                    is alphabet</span>
                                                
                                            </div>
                                            <span *ngIf="isDuplicate" style="color: red;">Name already exists!</span> 
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 ">
                                    <div class="col-12 row">
                                        <label for="inputEmail3" class="col-sm-3 col-form-label">Category</label>
                                        <select formControlName="category_id" class="form-control col-sm-9" id="input"
                                            required="required">
                                            <option value="">Select</option>
                                            <option *ngFor="let cat of results" value="{{cat.id}}">
                                                {{cat.name}}
                                            </option>
        
                                        </select>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="form-group row">
                                <div class="col-6 ">
                                    <div class="col-12 row">
                                        <label for="inputEmail3" class="col-sm-3 col-form-label">Price</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" [(ngModel)]="result.price" formControlName="price"
                                                placeholder="Price">
                                            <div *ngIf="productFormEdit['controls']['price'].dirty && productFormEdit['controls']['price'].errors"
                                                style="color: red;">
                                                <span *ngIf="productFormEdit['controls']['price'].errors['required']">Price
                                                    cannot be empty </span>
                                                <span *ngIf="productFormEdit['controls']['price'].errors['pattern']">Price
                                                    is number</span>
                                            </div>
        
                                        </div>
                                    </div>
                                    <div class="col-12 row pt-3">
                                        <label for="inputEmail3" class="col-sm-3 col-form-label">Sale Price</label>
                                        <div class="col-sm-9">
                                        <input class="form-control" [(ngModel)]="result.sale_price"
                                            formControlName="sale_price" placeholder="Sale Price" value="0">
                                        <div *ngIf="productFormEdit['controls']['sale_price'].dirty && productFormEdit['controls']['sale_price'].errors"
                                            style="color: red;">
    
                                            <span *ngIf="productFormEdit['controls']['sale_price'].errors['pattern']">Sale
                                                Price
                                                is number</span>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6"> 
                                    <div class="col-12 row">
                                        <label for="inputEmail3" class="col-sm-3 col-form-label">Description</label>
                                        <div class="col-sm-9 p-0">
                                            <textarea class="form-control" rows="3" [(ngModel)]="result.description" id="description"
                                                formControlName="description">
                                            </textarea>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                           
                            <div class="form-group row">
                                <div class="col-6"> 
                                    <div class="col-12 row">
                                        <label for="inputEmail3" class="col-sm-3 col-form-label">Status</label>
                                        <div class="col-sm-9" style="display: flex; align-items: center;">
                                            <select name="" id="input" [(ngModel)]="result.status" class="form-control"  formControlName="status">
                                                <option value="">Select</option>
                                                <option value="1">Working</option>
                                                <option value="0">Not working</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12 row mt-3">
                                        <label for="file" class="col-sm-3 col-form-label">File</label>
                                        <div class="col-sm-9">
                                            <input type="hidden" [(ngModel)]="result.image" formControlName="image">
                                            <input type="file" class="form-control" (change)="uploadFile($event)"
                                                enctype="multipart/form-data" formControlName="imageUpload">
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 pl-5"> 
                                    
                                    <img [src]="preview" class="w-20" style="width: 200px;height: 200px;"/>
                                </div>
                            </div>
                            <div class="form-group row">
                               
                                <!-- <input 
                                name="myfile"
                                id="file" 
                                type="file" 
                                class="form-control"
                                (change)="onFileChange($event)">
                            <div *ngIf="f['image'].touched && f['image'].invalid" class="alert alert-danger">
                                <div *ngIf="f['image'].errors && f['image'].errors['required']">File is required.</div>
                            </div> -->
                            </div>

                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer " style="display: flex;justify-content: center;">
                            <button type="submit" class="btn btn-info" [disabled]="productFormEdit.invalid"><i
                                    class="fas fa-save"></i> Save</button>
                            <button type="reset" class="btn btn-danger ml-4"><i class="fas fa-redo"></i>
                                Refresh</button>
                        </div>
                        <!-- /.card-footer -->
                    </form>

                </div>
                <!-- /.card-body -->
                <div class="card-footer" style="display: flex;justify-content: center;">
                    <a href="/product" class="btn btn-warning"><i class="fas fa-arrow-left"></i>Back</a>

                </div>
                <!-- /.card-footer-->
            </div>
            <!-- /.card -->

        </section>
        <!-- /.content -->
    </div>
    <app-aside />
    <app-footer />
</div>